.mobile{
  height: 100dvh;
  width: 100dvw;
  background-color: #2E8B57;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  &__svg{
    width: 96%;
  }
  &__text{
    width: 80vw;
    font-family:sans-serif;
    text-align: center;
    font-size: 3dvh;
    color: white;
  }
}
