.folder{
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &__element{
    width: 120px;
  }
  &__message{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
