.openModalButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  background-color: transparent;
  border: none;
  padding:10px;
  &:focus{
    outline: 0.5px black dashed;
  }
  &__name{
    text-align: center;
    word-break: break-all;
  }
}
