.profile{
  margin: 15px 0 10px 30px;
  &__textWithIcon{
    display: flex;
    gap:4px;
    align-items: center;
  }
  &__photo{
    height: 200px;
    width: 200px;
    border: 4px solid black;
    flex-shrink: 0;
    &>img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
  }
  &__contacts{
    display: flex;
    width: 500px;
    gap:10px;
    flex-direction: column;
    margin: 10px 0 20px 0;
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 300px;
    padding-left:20px;
  }
  &__skill{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    padding-left:20px;
  }
  &__skillsBlock{
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap:5px
  }
  &__hardSkillText{
    width: 130px;
    line-height:17px;
    word-wrap: break-word;
  }
  &__softSkillText{
    width: 200px;
    line-height:17px;
    word-wrap: break-word;
  }
  &__experience{
    display: flex;
    flex-direction: row;
    gap:10px;
    flex-wrap: wrap;
  }
  &__education{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px
  }
  &__infoBlock{
    display: flex;
    flex-direction: column;
    &_withBorder{
      padding: 10px;
      border: 2px solid black;
      width: 300px;
    }
  }
  &__taskList{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-left:20px;
  }
  &__sillsDropButton{
    margin: 10px 0 20px 150px;
  }
}
