@font-face {
    font-family: EightBits;
    src: url('lib/EightBits.ttf')
}
@font-face {
  font-family: EightBitsRu;
  src: url('lib/basis33.ttf');
}
@font-face {
  font-family: SF;
  src: url('lib/SF-Pro-Display-Regular.otf');
}
