@import 'fonts';
:root{
    --eb: 'EightBits';
    --ebr: 'EightBitsRu';
    --sf: 'SF';

    --tnn: 16px;
    --tsn: 12px;
    --tln: 20px;

    --tno: 20px;
    --tso: 16px;
    --tlo: 24px;


    --h1o: 30px;
    --h2o: 26px;
    --h3o: 24px;
    --h4o: 20px;

    --h1n: 26px;
    --h2n: 22px;
    --h3n: 20px;
    --h4n: 16px;

    --bg: #E4DCCF;
    --bgd: #F9F5EB;
    --yel: #F2E03C;
    --red: #EA5455;
    --blue: #D9D9D9;
    --grey: #BCBCBC;

    --bc:url('/static/arrow.png');
    --bgi:url('/static/background.png');
}
body{
  margin:0;
  cursor: var(--bc), default;
  overflow: hidden;
}
button{
  cursor: var(--bc), default;
}
